<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- lazy loading enabled by default -->
        <setting name="lazyLoadingEnabled" value="true"/>

        <!-- enable auto mapping of column names to CamelCase property names -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="io.sinsabridge.flowerbackend.board.mapper"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/PostMapper.xml"/>
    </mappers>

</configuration>
